a{
    display: inline-block;
}
.text-normal {
    border: 1px #ccc;
    color: #333;
    font-size: 15px;
    display: inline-block;
}

.text-autor {
    color: #999;
    display: inline-block;
}

.text-date {
    float: right;
    font-size: 13px;
}

.button-delete{
    display: none;
}

.mat-list-item:hover .button-delete {
	display: block;
}