<mat-nav-list>
  <mat-list-item *ngFor="let blog of blogs">
     <a matLine [href]="blog.story_url? blog.story_url: blog.url" *ngIf="blog.title || blog.story_title">
       <div class="text-normal" >{{ blog.story_title ? blog.story_title : blog.title  }}</div> -
       <div class="text-autor" > {{ blog.author }} </div> 
       <div class="text-date" > {{ blog.date }}</div> 
      </a>
     <button mat-icon-button (click)="deleteBlog(blog._id)" class="button-delete">
        <i class="material-icons">delete</i>
     </button>
     <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>